/*FOOTER*/
footer {
    border-top: 1px solid #fef0e699;
    background-color: #fdf8f6;
}

footer .content {
    height: 130px;
}

.go-notice {
    padding: 28px 0px 20px 10px;
    font-size: 16px;
}

.go-notice a {
    width: 300px;
}


.footer-text {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding-left: 10px;
}