/*COMMON*/
body {
    font-family: 'Gowun Dodum', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.4;
    color: #333;
}
    
a {
    text-decoration: none;
}
  
a:link {
    color: #333;
}

a:visited {
    color: #333;
}
    
img {
    /* img(인라인 요소) 하단에 Baseline 공백을 제거 */
    display: block;
}


/*CONTENT*/
.content {
    width: 1100px;
    margin: 0 auto;
    position: relative;
}
    

/*SECTION*/
section {
    background-color: white;
}

.main-section {
    width: 1100px;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
}

.monthly-board {
    width: 520px;
    height: 400px;
    margin: 50px 50px 50px 0px;
    
    background-color: rgb(231, 245, 249);
}

.monthly-recipe {
    width: 520px;
    height: 400px;
    margin-top: 50px;

    background-color: rgb(231, 245, 249);
}

.monthly-food {
    width: 520px;
    height: 400px;
    margin: 0px 50px 50px 0px;

    background-color: rgb(231, 245, 249);
}

.my-fridge {
    width: 520px;
    height: 400px;

    background-color: rgb(231, 245, 249);
}

.chat-section {
    width: 1100px;
    height: 300px;
    margin-bottom: 50px;

    background-color: rgb(231, 245, 249);
}


/*FOOTER*/
footer {
    border-top: 1px solid lightgrey;
    background-color: #F6F5F0;
}

footer .content {
    height: 130px;
}

.go-notice {
    padding: 28px 0px 20px 10px;
    font-size: 16px;
}

.go-notice a {
    width: 300px;
}



.footer-text {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding-left: 10px;
}