<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <span>시작날짜</span>
    <input type="date" id="basicdeadline">
    <p></p>
    <script>
        const basicdate = document.querySelector('#basicdeadline');

        date = new Date();
        year = date.getFullYear();
        month = date.getMonth() + 1;
        day = date.getDate() +7 ;

        basic_deadline_value = year + "-" + month + "-" + day;

        basicdate.value = basic_deadline_value;
    </script>
</body>

</html>