<!-- STYLESHEET -->
<link rel="stylesheet" href="/css/findId.css">
<link rel="stylesheet" href="/css/showId.css">

<!-- SECTION -->
<section>
    <div class="find-id-section">
        <div>
            <div class="in-text">
                <span class="material-icons">person</span>
                <a>아이디 찾기</a>
            </div>
            <div class="find-id-box">

                아이디:
            </div>
        </div>
    </div>
</section>